.my-drop-zone {
  border: dotted 3px lightgray !important;
}

.nv-file-over {
  border: dotted 4px green !important;
}

.cropper-example-3 {
	margin: 0 auto;
	width:500px;
}
.cropper-example-3 > img{
	width:500px;
}



.custom-modal-backdrop {
  background-color: black;
}

.custom-modal-backdrop.in {
  opacity: .9;
}

.cropper-container {
  position: relative;
}

.cropper-container .cropper-canvas {
  opacity: 0.5;
}
